<!-- Section-->
<section class="py-1">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">

            

            <div class="col mb-5" *ngFor="let pro of viewAllProduct">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{pro.product_image}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5><a routerLink="product/{{pro.id}}" class="text-decoration-none">{{pro.productName}}</a></h5>
                            <!-- Product price-->
                            <h5>${{pro.price}}</h5>
                           
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer  pt-0 border-top-0 bg-transparent">
                        <div class="text-center m-0"><a class="btn btn-outline-dark " href="#">View options</a></div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</section>
