 <!-- <div class="list-group py-5"> 
     <h1 *ngFor="let c of categoryList">{{c.categoryName}}</h1>
     
</div>  -->
<a routerLink="/" class="form-control text-center bg-warning text-decoration-none">View All Product</a>

<a routerLink="add-product" class="form-control text-center bg-warning text-decoration-none">Add Product</a><hr>
<h2>Product Category</h2>
<div  *ngFor="let c of categoryList" class="form-control text-center bg-info">
     <a routerLink="view-product-by-category/{{c.id}}" class="text-decoration-none text-black">{{c.categoryName}}</a>
</div>